/*=========================================
| Global                                  | 
========================================*/

:root {
    scroll-behavior: smooth;
}

body {
    font-family: 'Open Sans', sans-serif;
}


/*=========================================
| Navigation bar                          | 
========================================*/

.navbar-custom {
    margin: 10px;
    border-radius: 12px;
    background-color: #81A1C1 !important;
    box-shadow: 0px 0px 30px rgba(127, 137, 161, 0.25);
}